In [1]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [16]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author ##
Samia Shahreen

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

### In this notebook, Data Science Tools and Ecosystem are summarized.

In [11]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Describe the components of a Data Scientist's toolkit and list various tool categories.
- List examples of open-source tools used in data science.
- Describe the relevant features of open-source tools.
- List examples of commercial and cloud-based data science tools.

**List popular languages for Data Science**
- Python
- SQL
- R

In [1]:
# Exercise 4 - Create a markdown cell to list data science languages

1. Python
2. SQL
3. R
4. Julia
5. Scala

In [1]:
# Exercise 5 - Create a markdown cell to list data science libraries

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

In [2]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
----------------------
| Jupyter Notebooks |
| RStudio |
| Spyder |

In [3]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
# This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335